

.order-heading {
  display: flex;
  margin-left: 13px;
  background-color: white;
  padding: 9px;
  border: 1px solid lightcyan;
  margin: 10px;
}
.list-item {
  display: flex;
}

.list-item-name {
  margin-left: 15px;
  margin-right: 10px;
  width: 138px;
}
.list-item-price {
  width: 80px;
}
.list-item-quantity {
  width: 139px;
}
input {
  width: 25px;
}
.list-item-total {
  width: 75px;
}
img {
  height: 20px;
}

