<div class="cart-container">
  <div class="order-list">
    <div class="order-heading">
      <div style="flex-grow: 2;">PRODUCTS</div>
      <div style="flex-grow: 1;">PRICE</div>
      <div style="flex-grow: 1;">QUANTITY</div>
      <div style="flex-grow: 2;">TOTAL</div>
    </div>

    <div class="order-cart-list" *ngIf="sharedService.cartList.length > 0; else cartProducts">
      <ng-container *ngFor="let item of sharedService.cartList; index as ind">
        <app-cart-item [(cartItem)]="sharedService.cartList[ind]" (deleteItemEvent)="deleteItemEvent($event)"></app-cart-item>
      </ng-container>
    </div>
    <ng-template #cartProducts>
      <div class="order-cart-list">
        <div class="custom-message"> THERE ARE NO PRODUCTS</div>
      </div>
    </ng-template>
  </div>
  <div class="cart-footer">
    <div class="cart-order-details-header">
      <div class="cart-display-name">Sub Total</div>
      <div class="cart-display-name">VAT tax</div>
      <div class="cart-display-name">Discount</div>
      <div class="cart-display-name">Total</div>
    </div>
    <div class="cart-order-details-data">
      <div class="cart-display-content cart-subtotal"><div class="cart-item-subtotal">{{sharedService.cartSubTotal.toFixed(3)}} INR</div><div class="cart-display-items">{{sharedService.noOfItems}} items</div></div>
      <div class="cart-display-content cart-vat">
        <div  class="cart-item-tax-input">
          <input type="text" [(ngModel)]="vatTax" (input)="onVatTaxChange($event.target.value)" >
        </div>
        <div class="cart-display-output"><span *ngIf="sharedService.vatTax != 0">{{sharedService.vatTax.toFixed(3)}}</span> INR</div>
      </div>
      <div class="cart-display-content cart-discount">
        <div  class="cart-item-discount-input">
          <input type="text" [(ngModel)]="discount" (input)="onDiscountTaxChange($event.target.value)" >
        </div>
        <div class="cart-display-output"> <span *ngIf="sharedService.discount != 0">{{sharedService.discount.toFixed(3)}}</span> INR</div>
      </div>
      <div class="cart-display-content cart-total">
        {{sharedService.cartTotal.toFixed(3) }} INR
      </div>
    </div>
  </div>
  <div class="cart-buttons">
    <button class="cancel-btn" style="flex-grow: 1;" (click)="cancelSaleClick()">CANCEL SALE</button>
    <button class="process-btn" style="flex-grow: 1;" (click)="processSaleClick()">PROCESS SALE</button>
  </div>

</div>
