.mat-dialog-content { color: darkslategray; display: block; overflow: hidden; margin: 0 -24px; padding: 0 24px; max-height: 65vh;  width: 400px; -webkit-overflow-scrolling: touch;}
.mat-dialog-title { font-size: 18px; font-family: sans-serif; color: white; margin: 0 0 20px;  padding: 6px; display: block; background-color: black;}
button.close-btn { width: 95%; padding: 8px; margin-left: 10px; background-color: white; border-color: lightgray;}
.custom-dialog-container { color: darkslategrey; font-family: sans-serif;}
.close-btn:hover { cursor: pointer;}
