/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

::-webkit-scrollbar { width: 5px;}                       /* width */
::-webkit-scrollbar-track { background: #f1f1f1;}      /* Track */
::-webkit-scrollbar-thumb {  background: #888;}        /* Handle */
::-webkit-scrollbar-thumb:hover { background: #555;}   /* Handle on hover */
.mat-dialog-container {  display: block;  top: 15px;  max-height: 430px !important;  padding: 0px !important;  box-sizing: border-box;  outline: 0;  width: 100%;  min-height: inherit;  border: 1px solid;  max-height: inherit;  left: 38%;}
mat-dialog-container {  position: absolute;  top: 15px;  background-color: white;  max-width: 428px;  max-height: 430px !important;}



