/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// mat-dialog-container {
//   position: absolute;
//   top: 30%;
//   background-color: white;
//   border: 1px solid;
//   margin-left: 40%;
//   height: 350px;
//   width: 300px;
// }
// .mat-dialog-container {
//   display: block;
//   padding: 24px;
//   border-radius: 4px;
//   box-sizing: border-box;
//   outline: 0;
//   height: 400px;
//   width: 400px;
// }

.mat-dialog-container {
  display: block;
  top: 15px;
  max-height: 430px !important;
  padding: 0px !important;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  min-height: inherit;
  border: 1px solid;
  max-height: inherit;
  left: 38%;
}
mat-dialog-container {
  position: absolute;
  top: 15px;
  background-color: white;
  max-width: 428px;
  max-height: 430px !important;
}



